@page "/quails3"

<div class="main_container_0">

    <div class="row">
        <small>
            <a href="culc" class="text_rub"><i>>> Все калькуляторы пород</i></a>
            <a href="quails3" class="text_rub"><i>>> Перепела породы Фараон</i></a>
        </small>
    </div>

    <h1 class="text_color2"><i>Перепела породы Фараон</i></h1>
    <br />

    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/quails/quails643.jpg" />
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div>
                <p>
                    Фараон - мясная порода перепелов, выведенная в Америке. В отличие от перепелов мясо-яичного направления, фараоны имеют
                    большую массу тела. Уже на 50-е сутки перепела породы фараон весят почти в полтора раза больше, чем представители мясо-яичных пород.
                    К сожалению, в нашей стране большинство фараонов - это гибриды. Тем не менее их продуктивность не имеет существенных
                    отличий от настоящих перепелов фараонов.<br /><br />

                    Фараоны прекрасно набирают вес, неплохо несут яйца, а также отличаются спокойным характером. По своим характеристикам
                    фараоны во многом схожи с техасскими перепелами (которых еще называют Белыми фараонами). Тушки фараонов всегда можно
                    отличить от тушек техасских перепелов по более темной коже.<br />
                </p>
            </div>
        </div>

        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Содержать фараонов на мясо очень выгодно. Уже в 2 месяца перепёлка весит около 280 гр. А если птиц держать до
                            6 месяцев, то средний вес может достигать 400 гр.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div>
                <p>
                    Яйценоскость колеблется в пределах 220 яиц в год, массой до 16 гр. Однако бывают и более крупные яйца.
                    Благодаря высокой продуктивности, этих птиц очень выгодно содержать. Кроме того, они спокойные и имеют крепкое здоровье,
                    что избавляет их владельцев от лишних хлопот.<br /><br />

                    Фараоны - крупная порода, поэтому их нельзя содержать очень скученно. В противном случае более слабых птиц могут затоптать
                    сородичи и они погибнут. Потолки должны быть выше, чем у эстонцев и маньчжурцев. Оптимальная высота 27-30 см, но не выше.
                    <br /><br />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Как и все перепела, фараоны не переносят яркого света. В помещении, где содержатся перепела, достаточно одной тусклой лампочки.
                            Также птичек нужно обеспечить хорошей вентиляцией, но категорически не допускать сквозняков. Оптимальная температура
                            в помещении с перепелами 18 - 20 градусов.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div>
                <p>
                    Для получения потомства родительское стадо подбирают в соотношении 1 самец на 3 самки. Если самок будет больше, то высока
                    вероятность, что большой процент яиц окажется неоплодотворенным. Как правило птенцы рождаются здоровыми. Перепелята,
                    полученные от крепких племенных птиц, выживают практически все. Смертность среди птенцов крайне низкая.<br /><br />

                    Эта порода очень продуктивна и проста в содержании. Возможно по этой причине многие любители-перепеловоды останавливают
                    свой выбор именно на фараонах.<br />
                </p>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row pict_img2">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid img-thumbnail" src="/img/quails/quails713.jpg" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid img-thumbnail" src="/img/quails/quails693.jpg" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />




    <div class="container">
        <div class="row">
            <div class="important_name">
                <h6 class="text_color"><b><i>Для подсчета рентабельности содержания фараонов воспользуйтесь нашим калькулятором!</i></b></h6>
            </div>
            <br />
        </div>
    </div>
    <div class="container culc_border">
        <div class="row justify-content-center">
            <div class="img_eggs mt-2">
                <div class="anime2 eggs"></div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <h4 class="text_color4 oi oi-calculator">&nbsp;<b><ins>Калькулятор. Вариант №1</ins> (основной продукт: мясо-яйцо).</b></h4>
            </div>
        </div>

        <div class="container cont_bord mt-4">
            <div class="row">
                <div class="condition">
                    <b>УСЛОВИЕ:</b> потребуется 1 инкубатор, 2 брудера, клетка для племенного родительского стада, клетка для
                    доращивания (с 1-го по 2-й месяц). Забой в возрасте 2 месяца. Закладка новой партии яиц в инкубатор раз в 20 дней. Соотношение
                    племенных самцов и самок 1 к 3. Забой и замена родительского стада в возрасте 6 месяцев. Стоимость замены/выращивания новых
                    птиц для племенной работы индивидуальная и в рассчетах не учитывается.
                </div>
            </div>
            <div class="row">
                <div class="text_color3 p-3">
                    <p>
                        <i>
                            **Яйца собираются в течение 8 дней перед закладкой в инкубатор.<br />
                            Т.к. закладка новых яиц в инкубатор происходит раз в 20 дней, то оставшиеся 12 дней яйца от племенных птиц можно собирать на еду
                            или продажу инкубационного яйца.
                        </i>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="container">
            <div class="row">
                <p>
                    <b>1. Введите количество птиц <ins>родительского стада</ins> (самцов и самок), которое планируете держать в своем хозяйстве:</b><br />
                    <input type="number" max="9999" min="0" @bind="@quails_Var1" />
                </p>
                <p>
                    <b>2. Введите стоимость 1 кг комбикорма <ins>для молодых перепелов</ins> в вашем регионе:</b><br />
                    <input type="number" max="9999" min="0" @bind="price1_Var1" />
                </p>
                <p>
                    <b>3. Введите стоимость 1 кг комбикорма <ins>для взрослых перепелов</ins> в вашем регионе:</b><br />
                    <input type="number" max="9999" min="0" @bind="price2_Var1" />
                </p>
                <br />
                <div class="komentas">
                    <input type="checkbox" id="culc_1" class="calculator" @onclick="Result_Var1" />
                    <label for="culc_1"><b><big>Рассчитать</big></b></label>
                    <div>
                        <p>
                            При указанном количестве родительского стада, общее количество птиц (включая птенцов) достигнет
                            <ins><b>@Math.Round(allQuails_Var1)</b></ins> голов;<br /><br />
                            Всего птицы съедят в месяц на сумму: <ins><b>@Math.Round(commonPrice_Var1)</b></ins> руб<br /><br />
                            <b>Себестоимость, основанная только на цене за корм:</b><br />
                            Перепелиные тушки: <ins><b>@Math.Round(meatPrice_Var1)</b></ins> руб за 1 кг;<br />
                            Яйца: <ins><b>@Math.Round(eggsPrice_Var1)</b></ins> руб за 30 штук;<br /><br />

                            <b>Количество получаемой продукции в месяц:</b><br />
                            Вес перепелиных тушек: <ins><b>@Math.Round(meatInMonth_Var1, 1, MidpointRounding.AwayFromZero)</b></ins> кг;<br />
                            Яйца: <ins><b>@Math.Round(eggsInMonth_Var1)</b></ins> штук;<br /><br />

                            <b>Для достижения этого результата потребуется:</b><br />
                            - 1 инкубатор, вместимостью <ins><b>@Math.Round(eggsInIncubator_Var1)</b></ins> яиц;<br />
                            - 2 брудера, вместимостью <ins><b>@Math.Round(aliveChicks_Var1)</b></ins> птенцов каждый. <i>
                                <small>
                                    В брудере птенцы живут до 30 дней. В инкубаторе птенцы выводятся с периодичностью раз в 20 дней.
                                    Суточных птенцов подсаживать в брудер к подрощенным перепелятам нельзя. Так что потребуется второй брудер.
                                </small>
                            </i><br />
                            - клетка для племенных перепелов на <ins><b>@Math.Round(quails_Var1)</b></ins> птиц;<br />
                            - клетка для доращивания (с 1-го по 2-й месяц) на <ins><b>@Math.Round(aliveChicksInCage_Var1)</b></ins> птиц<br /><br />
                            <i>
                                <small>
                                    **Рассчет актуален только для перепелов породы фараон
                                </small>
                            </i><br />
                        </p>
                    </div>
                    <br />
                </div>
            </div>
            <br />
        </div>





        @code {
            double quails_Var1;
            double eggsInDay_Var1;
            double eggsInIncubator_Var1;
            double chicksInBrooder_Var1;
            double aliveChicks_Var1;
            double girlChicks_Var1;
            double eggsChicks_Var1;
            double aliveChicksInCage_Var1;
            double allQuails_Var1;
            double meatInOnePeriod_Var1;
            double eggsInOnePeriod_Var1;
            double meatInMonth_Var1;
            double eggsInMonth_Var1;

            double price1_Var1;
            double price2_Var1;
            double commonPriceChicks_Var1;
            double commonPriceQuails_Var1;
            double commonPrice_Var1;

            double eggsPrice_Var1;
            double meatPrice_Var1;

            void Result_Var1()
            {
                eggsInDay_Var1 = (quails_Var1 * 3 / 4) * 58 / 100;
                //(quails * 3 / 4) - число самок от общего количества перепелов
                //полученное значение умножаем на 58% - это количество инкубационных яиц, снесенное самками за 1 день (при яйценоскости ~210 яиц в год)

                eggsInIncubator_Var1 = eggsInDay_Var1 * 8;
                //количество яиц в день умножаем на 8 - это количество яиц, набранное за 8 дней для их последующей инкубации

                chicksInBrooder_Var1 = eggsInIncubator_Var1 * 75 / 100;
                //процент вылупления у фараонов около 80%. Т.к. часть яиц отбраковывается для инкубации, то процент яиц, которые пойдут в инкубатор примерно 75%

                aliveChicks_Var1 = chicksInBrooder_Var1 * 85 / 100;
                //процент выживающих цыплят около 85%

                girlChicks_Var1 = aliveChicks_Var1 / 2;
                //из них самок около половины

                eggsChicks_Var1 = girlChicks_Var1 * 30 / 100 * 10;
                //эти самки с 50-го дня будут нестись до момента забоя. Т.е. всего 10 дней. Яйценоскость молодок около 30%

                aliveChicksInCage_Var1 = aliveChicks_Var1 * 2;
                //Количество молодняка (с 1-го до 2-х месяцев), находящихся в клетке

                allQuails_Var1 = quails_Var1 + (aliveChicks_Var1 * 2) + aliveChicksInCage_Var1;

                meatInOnePeriod_Var1 = aliveChicks_Var1 + (quails_Var1 / 9);
                //количество тушек за 20 дней
                //(quails/9) - количество тушек племенных птиц, забиваемых раз в 6 месяцев (т.е. раз в 9 инкубационных периодов)

                eggsInOnePeriod_Var1 = eggsChicks_Var1 + (eggsInDay_Var1 * 12);
                //количество яиц за 20 дней. Т.к. у племенных самок в течение 8 дней яйца отбираются на инкубатор, остается 12 дней

                meatInMonth_Var1 = (meatInOnePeriod_Var1 * 230 / 1000) * 1.5; //средний вес 1 тушки фараона в 2 месяца около 230 гр. Переводим в кг
                eggsInMonth_Var1 = eggsInOnePeriod_Var1 * 1.5;


                //Норма корма с погрешностью в сторону увеличения
                //                                 0-1     4*7     28 гр
                //                                 1-2     7*7     49 гр
                //     детский корм                2-3     12*7    84 гр            первые 20 дней около 200 гр (с учетом погибших)
                //                                 3-4     18*7    126 гр

                //                                 4-5     25*7    175 гр           от 20 до 40 дней около 350 гр
                //                                 5-6     30*7    210 гр
                //     взрослый корм               6-7     35*7    245 гр
                //                                 7-8     35*7    245 гр           от 40 до 60 дней около 750 гр

                //За 2 месяца одновременно находится на содержании 3 разновозрастных группы цыплят

                commonPriceChicks_Var1 = (((3 * (price1_Var1 * 0.200)) + (3 * ((price1_Var1 + price2_Var1) / 2 * 0.350)) + (3 * (price2_Var1 * 0.750))) * aliveChicks_Var1) / 2;
                //среднее количество съеденного цыплятами корма за месяц


                commonPriceQuails_Var1 = (((price1_Var1 * 0.287) + (price2_Var1 * 0.875) + 4 * (price2_Var1 * 0.980)) * quails_Var1) / 6;
                //среднее количество съеденного корма за месяц племенными перепелами

                commonPrice_Var1 = commonPriceChicks_Var1 + commonPriceQuails_Var1;
                //Стоимость съедаемого в месяц

                eggsPrice_Var1 = (commonPrice_Var1 * 13 / 100) / eggsInMonth_Var1 * 30;
                meatPrice_Var1 = (commonPrice_Var1 * 87 / 100) / meatInMonth_Var1;

                if (eggsInMonth_Var1 == 0)
                {
                    eggsPrice_Var1 = 0;
                }
                if (meatInMonth_Var1 == 0)
                {
                    meatPrice_Var1 = 0;
                }
            }
        }
        <br />
        <br />
        <br />





        <div class="container">
            <div class="row justify-content-center">
                <div class="img_eggs mt-2">
                    <div class="anime2 eggs"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <h4 class="text_color4 oi oi-calculator">&nbsp;<b><ins>Калькулятор. Вариант №2</ins> (основной продукт: мясо).</b></h4>
            </div>
        </div>
        <div class="container cont_bord mt-4">
            <div class="row">
                <div class="condition">
                    <b>УСЛОВИЕ:</b> потребуется 2 инкубатора, 3 брудера, клетка для племенного родительского стада и клетка для
                    доращивания (с 1-го по 2-й месяц). Забой в возрасте 2 месяца. Закладка новой партии яиц в инкубатор раз в 20 дней.
                    Соотношение племенных самцов и самок 1 к 3. Забой и замена родительского стада в возрасте 6 месяцев. Стоимость замены/выращивания
                    новых птиц для племенной работы индивидуальная и в рассчетах не учитывается.
                </div>
            </div>
            <div class="row">
                <div class="text_color3 p-3">
                    <p>
                        <i>
                            **Яйца собираются в течение 10 дней перед закладкой в первый инкубатор, затем в течение 10 дней во второй
                            инкубатор. В результате все яйца, полученные от родительского стада, идут в разведение.
                        </i>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="container">
            <div class="row">
                <p>
                    <b>1. Введите количество птиц <ins>родительского стада</ins> (самцов и самок), которое планируете держать в своем хозяйстве:</b><br />
                    <input type="number" max="9999" min="0" @bind="@quails_Var2" />
                </p>
                <p>
                    <b>2. Введите стоимость 1 кг комбикорма <ins>для молодых перепелов</ins> в вашем регионе:</b><br />
                    <input type="number" max="9999" min="0" @bind="price1_Var2" />
                </p>
                <p>
                    <b>3. Введите стоимость 1 кг комбикорма <ins>для взрослых перепелов</ins> в вашем регионе:</b><br />
                    <input type="number" max="9999" min="0" @bind="price2_Var2" />
                </p>
                <br />
                <div class="komentas">
                    <input type="checkbox" id="culc_2" class="calculator" @onclick="Result_Var2" />
                    <label for="culc_2"><b><big>Рассчитать</big></b></label>
                    <div>
                        <p>
                            При указанном количестве родительского стада, общее количество птиц (включая птенцов) достигнет
                            <ins><b>@Math.Round(allQuails_Var2)</b></ins> голов;<br /><br />
                            Всего птицы съедят в месяц на сумму: <ins><b>@Math.Round(commonPrice_Var2)</b></ins> руб<br /><br />
                            <b>Себестоимость, основанная только на цене за корм:</b><br />
                            Перепелиные тушки: <ins><b>@Math.Round(meatPrice_Var2)</b></ins> руб за 1 кг;<br />
                            Яйца: <ins><b>@Math.Round(eggsPrice_Var2)</b></ins> руб за 30 штук;<br /><br />

                            <b>Количество получаемой продукции в месяц:</b><br />
                            Вес перепелиных тушек: <ins><b>@Math.Round(meatInMonth_Var2, 1, MidpointRounding.AwayFromZero)</b></ins> кг;<br />
                            Яйца: <ins><b>@Math.Round(eggsInMonth_Var2)</b></ins> штук;<br /><br />

                            <b>Для достижения этого результата потребуется:</b><br />
                            - 2 инкубатора, вместимостью <ins><b>@Math.Round(eggsInIncubator_Var2)</b></ins> яиц каждый;<br />
                            - 3 брудера, вместимостью <ins><b>@Math.Round(aliveChicks_Var2)</b></ins> птенцов каждый. <i>
                                <small>
                                    В брудере птенцы живут до 30 дней.
                                    Из 2-х инкубаторов птенцы будут выводиться поочереди с периодичностью раз в 10 дней. Суточных птенцов подсаживать в
                                    брудер к подрощенным перепелятам нельзя. Так что на 2 инкубатора потребуется 3 брудера.
                                </small>
                            </i><br />
                            - клетка для племенных перепелов на <ins><b>@Math.Round(quails_Var2)</b></ins> птиц;
                            <br />
                            - клетка для доращивания (с 1-го по 2-й месяц) на <ins><b>@Math.Round(aliveChicksInCage_Var2)</b></ins> птиц;<br /><br />
                            <i>
                                <small>
                                    **Рассчет актуален только для перепелов породы фараон
                                </small>
                            </i><br />
                        </p>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <br />


        @code {
            double quails_Var2;
            double eggsInDay_Var2;
            double eggsInIncubator_Var2;
            double chicksInBrooder_Var2;
            double aliveChicks_Var2;
            double girlChicks_Var2;
            double eggsChicks_Var2;
            double aliveChicksInCage_Var2;
            double allQuails_Var2;
            double meatInOnePeriod_Var2;
            double meatInMonth_Var2;
            double eggsInMonth_Var2;

            double price1_Var2;
            double price2_Var2;
            double commonPriceChicks_Var2;
            double commonPriceQuails_Var2;
            double commonPrice_Var2;

            double eggsPrice_Var2;
            double meatPrice_Var2;

            void Result_Var2()
            {
                eggsInDay_Var2 = (quails_Var2 * 3 / 4) * 58 / 100;
                //(quails * 3 / 4) - число самок от общего количества перепелов
                //полученное значение умножаем на 58% - это количество инкубационных яиц, снесенное самками за 1 день (при яйценоскости ~210 яиц в год)

                eggsInIncubator_Var2 = eggsInDay_Var2 * 9;
                //количество яиц в день умножаем на 9 - это количество яиц, набранное за 10 дней для их последующей инкубации. На 10-й день выводимость низкая, поэтому можно проссчитать только 9 дней

                chicksInBrooder_Var2 = eggsInIncubator_Var2 * 75 / 100;
                //процент вылупления у фараонов около 80%. Т.к. часть яиц отбраковывается для инкубации, то процент яиц, которые пойдут в инкубатор примерно 75%

                aliveChicks_Var2 = chicksInBrooder_Var2 * 85 / 100;
                //процент выживающих цыплят около 85%

                girlChicks_Var2 = aliveChicks_Var2 / 2;
                //из них самок около половины

                eggsChicks_Var2 = girlChicks_Var2 * 30 / 100 * 10;
                //эти самки с 50-го дня будут нестись до момента забоя. Т.е. всего 10 дней. Яйценоскость молодок около 30%

                aliveChicksInCage_Var2 = aliveChicks_Var2 * 3;
                //Количество молодняка (с 1-го до 2-х месяцев), находящихся в клетке

                allQuails_Var2 = quails_Var2 + (aliveChicks_Var2 * 3) + aliveChicksInCage_Var2;

                meatInOnePeriod_Var2 = aliveChicks_Var2 + (quails_Var2 / 9);
                //количество тушек за 10 дней
                //(quails/9) - количество тушек племенных птиц, забиваемых раз в 6 месяцев (т.е. раз в 9 инкубационных периодов)


                meatInMonth_Var2 = (meatInOnePeriod_Var2 * 230 / 1000) * 3; //Количество мяса в месяц. Средний вес 1 тушки около 230 гр. Переводим в кг
                eggsInMonth_Var2 = eggsChicks_Var2 * 3;


                //Норма корма с погрешностью в сторону увеличения
                //                                 0-1     4*7     28 гр
                //                                 1-2     7*7     49 гр
                //     детский корм                2-3     12*7    84 гр            первые 20 дней около 200 гр (с учетом погибших)
                //                                 3-4     18*7    126 гр

                //                                 4-5     25*7    175 гр           от 20 до 40 дней около 350 гр
                //                                 5-6     30*7    210 гр
                //     взрослый корм               6-7     35*7    245 гр
                //                                 7-8     35*7    245 гр           от 40 до 60 дней около 750 гр

                //За 2 месяца одновременно находится на содержании 6 разновозрастных групп цыплят

                commonPriceChicks_Var2 = (((6 * (price1_Var2 * 0.200)) + (6 * ((price1_Var2 + price2_Var2) / 2 * 0.350)) + (6 * (price2_Var2 * 0.750))) * aliveChicks_Var2) / 2;
                //среднее количество съеденного цыплятами корма за месяц


                commonPriceQuails_Var2 = (((price1_Var2 * 0.287) + (price2_Var2 * 0.875) + 4 * (price2_Var2 * 0.980)) * quails_Var2) / 6;
                //среднее количество съеденного корма за месяц племенными перепелами

                commonPrice_Var2 = commonPriceChicks_Var2 + commonPriceQuails_Var2;
                //Стоимость съедаемого в месяц

                eggsPrice_Var2 = (commonPrice_Var2 * 5 / 100) / eggsInMonth_Var2 * 30;
                meatPrice_Var2 = (commonPrice_Var2 * 95 / 100) / meatInMonth_Var2;

                if (eggsInMonth_Var2 == 0)
                {
                    eggsPrice_Var2 = 0;
                }
                if (meatInMonth_Var2 == 0)
                {
                    meatPrice_Var2 = 0;
                }
            }
        }
        <br />
        <br />
        <br />






        <div class="container">
            <div class="row justify-content-center">
                <div class="img_eggs mt-2">
                    <div class="anime2 eggs"></div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <h4 class="text_color4 oi oi-calculator">&nbsp;<b><ins>Калькулятор. Вариант №3</ins> (основной продукт: яйца).</b></h4>
            </div>
        </div>
        <div class="container cont_bord mt-4">
            <div class="row">
                <div class="condition">
                    <b>УСЛОВИЕ:</b> потребуется 1 инкубатор, 2 брудера, клетка для племенного родительского стада, клетка для доращивания (с 1-го по
                    2-й месяц) и клетка для несушек. Забой родительского стада и несушек в возрасте 6 месяцев. Забой лишних самцов
                    и отбракованных слабых птиц в возрасте 2 месяца. Закладка новой партии яиц в инкубатор раз в 20 дней. Соотношение племенных
                    самцов и самок 1 к 3. Стоимость замены/выращивания новых птиц для племенной работы индивидуальная и в рассчетах не учитывается.
                </div>
            </div>
            <div class="row">
                <div class="text_color3 p-3">
                    <p>
                        <i>
                            **Яйца собираются в течение 8 дней перед закладкой в инкубатор.<br />
                            Т.к. закладка новых яиц в инкубатор происходит раз в 20 дней, то оставшиеся 12 дней яйца от племенных птиц можно собирать на еду или
                            продажу инкубационного яйца.
                        </i>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="container">
            <div class="row">
                <p>
                    <b>1. Введите количество птиц <ins>родительского стада</ins> (самцов и самок), которое планируете держать в своем хозяйстве:</b><br />
                    <input type="number" max="9999" min="0" @bind="@quails_Var3" />
                </p>
                <p>
                    <b>2. Введите стоимость 1 кг комбикорма <ins>для молодых перепелов</ins> в вашем регионе:</b><br />
                    <input type="number" max="9999" min="0" @bind="price1_Var3" />
                </p>
                <p>
                    <b>3. Введите стоимость 1 кг комбикорма <ins>для взрослых перепелов</ins> в вашем регионе:</b><br />
                    <input type="number" max="9999" min="0" @bind="price2_Var3" />
                </p>
                <br />
                <div class="komentas">
                    <input type="checkbox" id="culc_3" class="calculator" @onclick="Result_Var3" />
                    <label for="culc_3"><b><big>Рассчитать</big></b></label>
                    <div>
                        <p>
                            При указанном количестве родительского стада, общее количество птиц (включая птенцов) достигнет
                            <ins><b>@Math.Round(allQuails_Var3)</b></ins> голов;<br /><br />
                            Всего птицы съедят в месяц на сумму: <ins><b>@Math.Round(commonPrice_Var3)</b></ins> руб<br /><br />
                            <b>Себестоимость, основанная только на цене за корм:</b><br />
                            Перепелиные тушки: <ins><b>@Math.Round(meatPrice_Var3)</b></ins> руб за 1 кг;<br />
                            Яйца: <ins><b>@Math.Round(eggsPrice_Var3)</b></ins> руб за 30 штук;<br /><br />

                            <b>Количество получаемой продукции в месяц:</b><br />
                            Вес перепелиных тушек: <ins><b>@Math.Round(meatInMonth_Var3, 1, MidpointRounding.AwayFromZero)</b></ins> кг;<br />
                            Яйца: <ins><b>@Math.Round(eggsInMonth_Var3)</b></ins> штук;<br /><br />

                            <b>Для достижения этого результата потребуется:</b><br />
                            - 1 инкубатор, вместимостью <ins><b>@Math.Round(eggsInIncubator_Var3)</b></ins> яиц;<br />
                            - 2 брудера, вместимостью <ins><b>@Math.Round(aliveChicks_Var3)</b></ins> птенцов каждый. <i>
                                <small>
                                    В брудере птенцы живут до 30 дней. В инкубаторе птенцы выводятся с периодичностью раз в 20 дней.
                                    Суточных птенцов подсаживать в брудер к подрощенным перепелятам нельзя. Так что потребуется второй брудер.
                                </small>
                            </i><br />
                            - клетка для племенных перепелов на <ins><b>@Math.Round(quails_Var3)</b></ins> птиц;<br />
                            - клетка для доращивания (с 1-го по 2-й месяц) на <ins><b>@Math.Round(aliveChicksInCage_Var3)</b></ins> птиц;<br />
                            - клетка для несушек на <ins><b>@Math.Round(girlsInCage_Var3)</b></ins> птиц<br /><br />
                            <i>
                                <small>
                                    **Рассчет актуален только для перепелов породы фараон
                                </small>
                            </i><br />
                        </p>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
</div>

@code {
    double quails_Var3;
    double eggsInDay_Var3;
    double eggsInIncubator_Var3;
    double chicksInBrooder_Var3;
    double aliveChicks_Var3;
    double boyChicks_Var3;
    double girlChicks_Var3;
    double eggsChicks_Var3;
    double aliveChicksInCage_Var3;
    double girlsInCage_Var3;
    double allQuails_Var3;

    double eggsInDayGirls_Var3;
    double meatInOnePeriod_Var3;
    double eggsInOnePeriod_Var3;

    double meatInMonth_Var3;
    double eggsInMonth_Var3;

    double price1_Var3;
    double price2_Var3;
    double commonPriceChicks_Var3;
    double commonPriceQuails_Var3;
    double commonPriceGirls_Var3;
    double commonPrice_Var3;

    double eggsPrice_Var3;
    double meatPrice_Var3;

    void Result_Var3()
    {
        eggsInDay_Var3 = (quails_Var3 * 3 / 4) * 58 / 100;
        //(quails * 3 / 4) - число самок от общего количества перепелов
        //полученное значение умножаем на 58% - это количество инкубационных яиц, снесенное самками за 1 день (при яйценоскости ~210 яиц в год)

        eggsInIncubator_Var3 = eggsInDay_Var3 * 8;
        //количество яиц в день умножаем на 8 - это количество яиц, набранное за 8 дней для их последующей инкубации

        chicksInBrooder_Var3 = eggsInIncubator_Var3 * 75 / 100;
        //процент вылупления у фараонов около 80%. Т.к. часть яиц отбраковывается для инкубации, то процент яиц, которые пойдут в инкубатор примерно 75%

        aliveChicks_Var3 = chicksInBrooder_Var3 * 85 / 100;
        //процент выживающих цыплят около 85%

        boyChicks_Var3 = aliveChicks_Var3 * 60 / 100;
        //из них самцов и отбраковка около 60%

        girlChicks_Var3 = aliveChicks_Var3 - boyChicks_Var3;
        //самки - будущие несушки

        eggsChicks_Var3 = girlChicks_Var3 * 30 / 100 * 10;
        //эти самки с 50-го дня будут нестись до момента перевода в общую клетку с несушками. Т.е. всего 10 дней. Яйценоскость молодок около 30%

        aliveChicksInCage_Var3 = aliveChicks_Var3 * 2;
        //Количество молодняка (с 1-го до 2-х месяцев), находящихся в клетке

        girlsInCage_Var3 = girlChicks_Var3 * 6;
        //Количество несушек, проживающих в клетке с несушками со 2-го по 6-й месяц (т.е 4 месяца или 6 инкубационных периодов)

        allQuails_Var3 = quails_Var3 + (aliveChicks_Var3 * 2) + aliveChicksInCage_Var3 + girlsInCage_Var3;

        eggsInDayGirls_Var3 = girlsInCage_Var3 * 58 / 100;
        //количество яиц в день от несушек (при яйценоскости ~210 яиц в год)

        meatInOnePeriod_Var3 = boyChicks_Var3 + (quails_Var3 / 9) + (girlsInCage_Var3 / 9);
        //количество тушек за 20 дней
        //(quails/9) + (girlQuails / 9) - количество тушек племенных птиц и несушек, забиваемых раз в 6 месяцев (т.е. раз в 9 инкубационных периодов)

        eggsInOnePeriod_Var3 = eggsChicks_Var3 + (eggsInDayGirls_Var3 * 20) + (eggsInDay_Var3 * 12);
        //количество яиц за 20 дней. Т.к. у племенных самок в течение 8 дней яйца отбираются на инкубатор, остается 12 дней

        meatInMonth_Var3 = (meatInOnePeriod_Var3 * 300 / 1000) * 1.5; //средний вес 1 тушки 2-х месяцев 250 гр. У несушек 350 гр. Усредняем до 300 гр и переводим в кг
        eggsInMonth_Var3 = eggsInOnePeriod_Var3 * 1.5;


        //Норма корма с погрешностью в сторону увеличения
        //                                 0-1     4*7     28 гр
        //                                 1-2     7*7     49 гр
        //     детский корм                2-3     12*7    84 гр            первые 20 дней около 200 гр (с учетом погибших)
        //                                 3-4     18*7    126 гр

        //                                 4-5     25*7    175 гр           от 20 до 40 дней около 350 гр
        //                                 5-6     30*7    210 гр
        //     взрослый корм               6-7     35*7    245 гр
        //                                 7-8     35*7    245 гр           от 40 до 60 дней около 750 гр

        //За 2 месяца одновременно находится на содержании 3 разновозрастных группы цыплят

        commonPriceChicks_Var3 = (((3 * (price1_Var3 * 0.200)) + (3 * ((price1_Var3 + price2_Var3) / 2 * 0.350)) + (3 * (price2_Var3 * 0.750))) * boyChicks_Var3) / 2;
        //среднее количество съеденного цыплятами корма за месяц (самцы и отбраковка)


        commonPriceQuails_Var3 = ((price1_Var3 * 0.287) + (price2_Var3 * 0.875) + (4 * (price2_Var3 * 0.980))) * quails_Var3 / 6;
        //среднее количество съеденного корма за месяц племенными перепелами

        commonPriceGirls_Var3 = ((price1_Var3 * 0.287) + (price2_Var3 * 0.875) + (4 * (price2_Var3 * 0.980))) * girlsInCage_Var3 / 6;
        //среднее количество корма, съедаемого несушками за месяц

        commonPrice_Var3 = commonPriceChicks_Var3 + commonPriceQuails_Var3 + commonPriceGirls_Var3;
        //Стоимость съедаемого в месяц

        eggsPrice_Var3 = (commonPrice_Var3 * 50 / 100) / eggsInMonth_Var3 * 30;
        meatPrice_Var3 = (commonPrice_Var3 * 50 / 100) / meatInMonth_Var3;

        if (eggsInMonth_Var3 == 0)
        {
            eggsPrice_Var3 = 0;
        }
        if (meatInMonth_Var3 == 0)
        {
            meatPrice_Var3 = 0;
        }
    }
}
