@page "/quails2"

<div class="main_container_0">

    <div class="row">
        <small>
            <a href="culc" class="text_rub"><i>>> Все калькуляторы пород</i></a>
            <a href="quails2" class="text_rub"><i>>> Маньчжурская порода перепелов</i></a>
        </small>
    </div>

    <h1 class="text_color2"><i>Маньчжурская порода перепелов</i></h1>
    <br />

    <div class="pict_img1">
        <img class="img-thumbnail" src="/img/quails/quails105.jpg" />
    </div>
    <br />

    <div class="container">
        <div class="row">
            <div>
                <p>
                    На сегодняшний день маньчжурские перепела - это одна из самых популярных мясо-яичных пород. Маньчжурцы не только
                    продуктивные птицы, но еще и очень эффектные. Оперение этих перепелов не уступает по красоте даже декоративным птицам.
                    Цвет оперения варьируется от золотистого до бледно-золотистого. Телосложение плотное, овальное. Голова среднего
                    размера.<br /><br />

                    Маньчжурские перепела просты в уходе и обладают крепким здоровьем. Несмотря на свои небольшие размеры, яйца у маньчжурцев
                    крупнее, чем у многих других пород, а несутся они очень хорошо. По этой причине маньчжурцев очень выгодно
                    держать ради яиц. Содержать их на мясо, так же как и эстонцев, не оправдано. Тем неменее, маньчжурских перепелов
                    активно селекционируют, чтобы повысить мясную продуктивность. На их основе был выведен Феникс золотистый, который является
                    увеличенной копией маньчжурца.<br />
                </p>
            </div>
        </div>

        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Маньчжурцы, как и другие породы мясо-яичного направления, весьма активны. Выясняя отношения между собой, они часто носятся
                            по клетке. Это нужно учитывать и не допускать большой скученности птичек, чтобы они друг друга не затоптали.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div>
                <p>
                    Яйценоскость манчжурцев колеблется в среднем от 210 до 240 яиц в год. Вес яиц достигает 15 гр. Товарный вес тушки в
                    2 месяца обычно не превышает 200 гр. За счет того, что оперение у маньчжурцев светлое, их тушки имеют приятный цвет,
                    который пользуется спросом у покупателей.<br /><br />

                    Маньчжурцев легко разводить. Достаточно им организовать комфортные условия для жизни и птички обязательно порадуют вас
                    быстро увеличивающемся поголовьем. Для получения инкубационных яиц перепелиная семья подбирается в соотношении 1 самец на
                    4 самки. В этом случае показатель оплодотворяемости яиц составит 80-90%.<br /><br />
                </p>
            </div>
        </div>
        <div class="row">
            <div class="important_text">
                <div class="col-lg-1 mr-3 img_hen">
                    <div class="anime hen"></div>
                </div>
                <div class="col-lg-11 ml-3">
                    <p class="font_style">
                        <b>
                            Птенцы маньчжурских перепелов появляются на свет на редкость здоровыми. Стоит птенцам буквально немного отдохнуть после
                            переезда из инкубатора в брудер, как они начинают бодро пищать, бегать и искать корм. Выживают практически все птенцы. Если
                            возникают проблемы с гибелью перепелят, то это практически всегда результат допущенных ошибок при инкубировании яиц, либо
                            присутствие в родительском стаде близкородственных особей.
                        </b>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div>
                <p>
                    Клетка для содержания маньчжурцев подойдет стандартных размеров. Как и всем перепелам им требуются низкие потолки. На
                    1 квадратный метр площади можно поселить до 90 перепелов.<br /><br />

                    Маньчжурцев используют не только ради мяса и яиц. Их содержат еще и как декоративных птиц в квартирах. Несколько самок
                    маньчжурских перепелов никогда не потревожат вас громкими криками. Они безусловно станут красивыми и полезными домашними
                    питомцами, притягивающими всеобщее внимание.<br />
                </p>
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row pict_img2">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid img-thumbnail" src="/img/quails/quails671.jpg" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-fluid img-thumbnail" src="/img/quails/quails836.jpg" />
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />




    <div class="container">
        <div class="row">
            <div class="important_name">
                <h6 class="text_color"><b><i>Для подсчета рентабельности содержания маньчжурских перепелов воспользуйтесь нашим калькулятором!</i></b></h6>
            </div>
        </div>
    </div>
    <div class="container culc_border">
        <div class="row justify-content-center">
            <div class="img_eggs mt-2">
                <div class="anime2 eggs"></div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <h4 class="text_color4 oi oi-calculator">&nbsp;<b><ins>Калькулятор.</ins> Основной продукт: яйца.</b></h4>
            </div>
        </div>
        <div class="container cont_bord mt-4">
            <div class="row">
                <div class="condition">
                    <b>УСЛОВИЕ:</b> потребуется 1 инкубатор, 2 брудера, клетка для племенного родительского стада, клетка для доращивания (с 1-го по
                    2-й месяц) и клетка для несушек. Забой родительского стада и несушек в возрасте 8 месяцев. Забой лишних самцов
                    и отбракованных слабых птиц в возрасте 2 месяца. Закладка новой партии яиц в инкубатор раз в 20 дней. Соотношение племенных
                    самцов и самок 1 к 4. Стоимость замены/выращивания новых птиц для племенной работы индивидуальная и в рассчетах не учитывается.
                </div>
            </div>
            <div class="row">
                <div class="text_color3 p-3">
                    <p>
                        <i>
                            **Яйца собираются в течение 8 дней перед закладкой в инкубатор.<br />
                            Т.к. закладка новых яиц в инкубатор происходит раз в 20 дней, то оставшиеся 12 дней яйца от племенных птиц можно собирать на еду или
                            продажу инкубационного яйца.
                        </i>
                    </p>
                </div>
            </div>
        </div>
        <br />
        <div class="container">
            <div class="row">
                <p>
                    <b>1. Введите количество птиц <ins>родительского стада</ins> (самцов и самок), которое планируете держать в своем хозяйстве:</b><br />
                    <input type="number" max="9999" min="0" @bind="@quails_Var3" />
                </p>
                <p>
                    <b>2. Введите стоимость 1 кг комбикорма <ins>для молодых перепелов</ins> в вашем регионе:</b><br />
                    <input type="number" max="9999" min="0" @bind="price1_Var3" />
                </p>
                <p>
                    <b>3. Введите стоимость 1 кг комбикорма <ins>для взрослых перепелов</ins> в вашем регионе:</b><br />
                    <input type="number" max="9999" min="0" @bind="price2_Var3" />
                </p>
                <br />
                <div class="komentas">
                    <input type="checkbox" id="culc_3" class="calculator" @onclick="Result_Var3" />
                    <label for="culc_3"><b><big>Рассчитать</big></b></label>
                    <div>
                        <p>
                            При указанном количестве родительского стада, общее количество птиц (включая птенцов) достигнет
                            <ins><b>@Math.Round(allQuails_Var3)</b></ins> голов;<br /><br />
                            Всего птицы съедят в месяц на сумму: <ins><b>@Math.Round(commonPrice_Var3)</b></ins> руб<br /><br />
                            <b>Себестоимость, основанная только на цене за корм:</b><br />
                            Перепелиные тушки: <ins><b>@Math.Round(meatPrice_Var3)</b></ins> руб за 1 кг;<br />
                            Яйца: <ins><b>@Math.Round(eggsPrice_Var3)</b></ins> руб за 30 штук;<br /><br />

                            <b>Количество получаемой продукции в месяц:</b><br />
                            Вес перепелиных тушек: <ins><b>@Math.Round(meatInMonth_Var3, 1, MidpointRounding.AwayFromZero)</b></ins> кг;<br />
                            Яйца: <ins><b>@Math.Round(eggsInMonth_Var3)</b></ins> штук;<br /><br />

                            <b>Для достижения этого результата потребуется:</b><br />
                            - 1 инкубатор, вместимостью <ins><b>@Math.Round(eggsInIncubator_Var3)</b></ins> яиц;<br />
                            - 2 брудера, вместимостью <ins><b>@Math.Round(aliveChicks_Var3)</b></ins> птенцов каждый. <i>
                                <small>
                                    В брудере птенцы живут до 30 дней. В инкубаторе птенцы выводятся с периодичностью раз в 20 дней.
                                    Суточных птенцов подсаживать в брудер к подрощенным перепелятам нельзя. Так что потребуется второй брудер.
                                </small>
                            </i><br />
                            - клетка для племенных перепелов на <ins><b>@Math.Round(quails_Var3)</b></ins> птиц;<br />
                            - клетка для доращивания (с 1-го по 2-й месяц) на <ins><b>@Math.Round(boyChicksInCage_Var3)</b></ins> птиц;<br />
                            - клетка для несушек на <ins><b>@Math.Round(girlsInCage_Var3)</b></ins> птиц<br /><br />
                            <i>
                                <small>
                                    **Рассчет актуален только для перепелов маньчжурской породы
                                </small>
                            </i><br />
                        </p>
                    </div>
                    <br />
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
    </div>
</div>

        @code {
            double quails_Var3;
            double eggsInDay_Var3;
            double eggsInIncubator_Var3;
            double chicksInBrooder_Var3;
            double aliveChicks_Var3;
            double boyChicks_Var3;
            double girlChicks_Var3;
            double boyChicksInCage_Var3;
            double girlsInCage_Var3;
            double allQuails_Var3;

            double eggsInDayGirls_Var3;
            double meatInOnePeriod_Var3;
            double eggsInOnePeriod_Var3;

            double meatInMonth_Var3;
            double eggsInMonth_Var3;

            double price1_Var3;
            double price2_Var3;
            double commonPriceChicks_Var3;
            double commonPriceQuails_Var3;
            double commonPriceGirls_Var3;
            double commonPrice_Var3;

            double eggsPrice_Var3;
            double meatPrice_Var3;

            void Result_Var3()
            {
                eggsInDay_Var3 = (quails_Var3 * 4 / 5) * 60 / 100;
                //(quails * 4 / 5) - число самок от общего количества перепелов
                //Затем вычисляем 60% - это количество подходящих для инкубации яиц, снесенное самками за 1 день (при яйценоскости 220 яиц в год)

                eggsInIncubator_Var3 = eggsInDay_Var3 * 8;
                //количество яиц в день умножаем на 8 - это количество яиц, набранное за 8 дней для их последующей инкубации

                chicksInBrooder_Var3 = eggsInIncubator_Var3 * 78 / 100;
                //процент вылупления у маньчжурских перепелов около 85%. Еще примерно 7% яиц не годятся для инкубации. Итого остается 78%

                aliveChicks_Var3 = chicksInBrooder_Var3 * 95 / 100;
                //процент выживающих цыплят около 95%

                boyChicks_Var3 = aliveChicks_Var3 * 60 / 100;
                //из них самцов и отбраковка около 60%

                girlChicks_Var3 = aliveChicks_Var3 - boyChicks_Var3;
                //самки - будущие несушки

                boyChicksInCage_Var3 = boyChicks_Var3 * 2;
                //Количество птиц на откорме (с 1-го до 2-х месяцев), находящихся в клетке

                girlsInCage_Var3 = girlChicks_Var3 * 10.5;
                //Количество несушек, проживающих в клетке с несушками с 1-й по 8-й месяц (т.е 7 месяцев или 10.5 инкубационных периодов)

                allQuails_Var3 = quails_Var3 + (aliveChicks_Var3 * 2) + boyChicksInCage_Var3 + girlsInCage_Var3;

                eggsInDayGirls_Var3 = girlsInCage_Var3 * 68 / 100;
                //количество яиц в день от несушек (при яйценоскости 60% или 220 яиц в год, процент немного занижен т.к. совсем молодые несушки несутся плохо)

                meatInOnePeriod_Var3 = boyChicks_Var3 + (quails_Var3 / 12) + (girlsInCage_Var3 / 12);
                //количество тушек за 20 дней
                //(quails/12) + (girlQuails / 12) - количество тушек племенных птиц и несушек, забиваемых раз в 8 месяцев (т.е. раз в 12 инкубационных периодов)

                eggsInOnePeriod_Var3 = (eggsInDayGirls_Var3 * 20) + (eggsInDay_Var3 * 12);
                //количество яиц за 20 дней. Т.к. у племенных самок в течение 8 дней яйца отбираются на инкубатор, остается 12 дней

                meatInMonth_Var3 = (meatInOnePeriod_Var3 * 190 / 1000) * 1.5; //средний чистый вес 1 тушки маньчжурца с учетом "тяжелых" несушек и "легкого" откорма около 190 гр. Переводим в кг
                eggsInMonth_Var3 = eggsInOnePeriod_Var3 * 1.5;


                //Норма корма с погрешностью в сторону увеличения
                //                                 0-1     4*7     28 гр
                //                                 1-2     7*7     49 гр
                //     детский корм                2-3     12*7    84 гр            первые 20 дней около 200 гр (с учетом погибших)
                //                                 3-4     18*7    126 гр

                //                                 4-5     20*7    140 гр           от 20 до 40 дней около 320 гр
                //                                 5-6     25*7    175 гр
                //     взрослый корм               6-7     30*7    210 гр
                //                                 7-8     30*7    210 гр           от 40 до 60 дней около 620 гр

                //За 2 месяца одновременно находится на содержании 3 разновозрастных группы цыплят

                commonPriceChicks_Var3 = (((3 * (price1_Var3 * 0.200)) + (3 * ((price1_Var3 + price2_Var3) / 2 * 0.320)) + (3 * (price2_Var3 * 0.620))) * boyChicks_Var3) / 2;
                //среднее количество съеденного цыплятами корма за месяц (самцы и отбраковка)


                commonPriceQuails_Var3 = ((price1_Var3 * 0.287) + (price2_Var3 * 0.735) + (6 * (price2_Var3 * 0.840))) * quails_Var3 / 8;
                //среднее количество съеденного корма за месяц племенными перепелами

                commonPriceGirls_Var3 = ((price1_Var3 * 0.287) + (price2_Var3 * 0.735) + (6 * (price2_Var3 * 0.840))) * girlsInCage_Var3 / 8;
                //среднее количество корма, съедаемого несушками за месяц

                commonPrice_Var3 = commonPriceChicks_Var3 + commonPriceQuails_Var3 + commonPriceGirls_Var3;
                //Стоимость съедаемого в месяц

                eggsPrice_Var3 = (commonPrice_Var3 * 72 / 100) / eggsInMonth_Var3 * 30;
                meatPrice_Var3 = (commonPrice_Var3 * 28 / 100) / meatInMonth_Var3;

                if (eggsInMonth_Var3 == 0)
                {
                    eggsPrice_Var3 = 0;
                }
                if (meatInMonth_Var3 == 0)
                {
                    meatPrice_Var3 = 0;
                }
            }
        }
